*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter",sans-serif;
}
:root{
    --mainColor:#C47BE4;
    --secondColor:white;
    --mainBgC:black;
}
html {
    scroll-padding-top: 210px;
}

body{
    background-color:var(--mainBgC) !important;
    padding: 15% 7% 0 7%;
}
nav{
    background-color: var(--mainBgC) !important;
    color: white ;
    font-size: 1.5em ;
}
nav ul{
    margin-right: 7%;
}
nav li a{
    color: white !important;
    transition: all 1s;
}
#logo{
    margin-left: 7%;
    font-size: 1.5em;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    transition: all 1s;
}
#logo:hover,nav li a:hover{
    cursor: pointer;
    color: var(--mainColor) !important;
    scale: 1.1;
}
nav button{
    margin-right: 7%;
}
/* header section */
.header{
    padding: 5% 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.header .text{
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.header .text .text1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(132, 130, 130);
}
.header .text .text2{
    font-size: 60px;
    font-weight: bold;
    color: var(--mainColor);
}
.header .text .text3{
    font-size: 40px;
    font-weight: bold;
    color: var(--secondColor);
}
.header .text .text4{
    font-size: 20px;
    color: rgb(132, 130, 130);
}
.header .text .icons a i{
    color: var(--mainColor);
    font-size: 50px;
    transition: all 1s;
}
.header .text .icons a i:hover{
    color: var(--secondColor);
    scale: 1.2;
}
.header .img{
    background-color:var(--mainColor);
    border-radius: 50%;
    width: 410px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
/* about section */
.about{
    padding: 30px;
    background-color: black;
    box-shadow: rgba(117, 116, 116, 0.35) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .text{
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.about .text .text1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(132, 130, 130);
}
.about .text .text2{
    font-size: 50px;
    font-weight: bold;
    color: var(--mainColor);
}
.about .text .text3{
    font-size: 30px;
    font-weight: bold;
    color: var(--secondColor);
}
.about .text .text4{
    font-size: 20px;
    color: rgb(132, 130, 130);
}
.jobs{
    color: var(--secondColor);
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.jobs i{
    color: var(--mainColor);
    font-size: 30px;
}
.about .text a{
    text-decoration: none;
    background-color: var(--mainColor);
    color: var(--secondColor);
    padding: 20px 40px;
    width: fit-content;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    transition: all 1s;
}
.about .text a:hover{
    background-color: var(--secondColor);
    color: var(--mainColor);
    scale: 1.1;
}


/* services  */
.services-parent{
    width: 100%;
    padding-top: 10% ;
}
.services-parent h1{
    text-align: center;
    font-size: 50px;
    color: var(--mainColor);
    margin-bottom: 5%;
}
.services-parent h1 span{
    color: var(--secondColor);
}
.services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services div{
    width: 30%;
    padding: 40px;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: rgba(202, 204, 207, 0.25) 0px 4px 8px -2px, rgba(135, 136, 137, 0.08) 0px 0px 0px 1px;
}
.services div i{
    font-size: 60px;
    color: var(--mainColor);
    transition: all 1s;
}
.services div i:hover{
    color: var(--secondColor);
    rotate: 20deg;
}
.services div h2{
    color: var(--secondColor);
    margin: 30px 0;
}
.services div p{
    color: rgb(132, 130, 130);
    margin-bottom: 30px;
}
.services div a{
    text-decoration: none;
    background-color: var(--mainColor);
    padding: 10px 30px;
    border-radius: 0px 20px;
    color: var(--mainBgC); 
    transition: all 1s;
}
.services div a:hover{
    color: var(--mainColor);
    background-color: var(--secondColor);
    border-radius: 20px 0;

}
/* projects */
.projects-parent{
    padding-top: 200px;
}

.projects-parent h1{
    text-align: center;
    font-size: 50px;
    color: var(--mainColor);
    margin-bottom: 8%;
}
.projects-parent h1 span{
    color: var(--secondColor);
}
.project{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10%;
}
.project .img{
    width: 40%;
    padding: 40px;
    text-align: center;
    background-color: var(--mainColor);
    border-radius: 0 20px;
    transition: all 2s;
}
.project .img:hover{
    border-radius: 20px 0;
}
.project .img img{
    width: 90%;
    transition: all 2s;
}
.project .img img:hover{
    scale: 1.1;
}
.project .text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project .text h2{
    color: var(--mainColor);
}
.project .text p{
    color: var(--secondColor);
    margin: 30px 0;
}
.project .text a{
    text-decoration: none;
    color: var(--mainBgC);
    font-weight: bold;
    background-color: var(--mainColor);
    padding: 10px 20px;
    border-radius: 0 20px;
    transition: all 1s;
}
.project .text a:hover{
    color: var(--mainColor);
    background-color: var(--secondColor);
    border-radius: 20px 0;
}
.project .text .repo-link{
    margin-left: 20px;
}


@media screen  and (max-width:1046px){
    .header .text{
    width: 400px;
}
.header .text .text1{
    font-size: 25px;
}
.header .text .text2{
    font-size: 50px;
}
.header .text .text3{
    font-size: 30px;
}
.header .text .text4{
    font-size: 15px;
}
.header .text .icons a i{
    font-size: 40px;
}
.services div{
    width: 45%;
}
}
@media screen and (max-width:991px){
    nav ul li a{
        margin-left: 7%;
    }
    .header .text{
    width: 100%;
    align-items: center;
    text-align: center;
}
    .header .text .text1{
        font-size: 30px;
    }
    .header .text .text2{
        font-size: 60px;
    }
    .header .text .text3{
        font-size: 40px;
    }
    .header .text .text4{
        font-size: 20px;
    }
    .header .text .icons a i{
        font-size: 50px;
    }
    .header .img{
        margin: 10% auto;
    
}
.services{
    justify-content: center;
}
.services div{
    width: 80%;
}

/* projects */

.project{
    justify-content: center;
}
.project .img{
    width: 80%;
}
.project .text{
    width: 80%;
    margin: 40px 0;
}


}
@media screen and (max-width:549px){
    body{
        padding-top: 35%;
    }

    .header .text .text1{
        font-size: 20px;
    }
    .header .text .text2{
        font-size: 40px;
    }
    .header .text .text3{
        font-size: 20px;
    }
    .header .text .text4{
        font-size:15;
    }
    .header .text .icons a i{
        font-size: 50px;
    }
    .header .img{
    width: 350px;
    height: 350px;
}
.header .img img{
    width: 100%;
    height: 100%;
}


    /* about section */
.about .text{
    text-align: center;
    width: 100%;
}
.about .text .text1{
    font-size: 20px;
}
.about .text .text2{
    font-size: 22px;
}
.about .text .text3{
    font-size: 20px;
}
.about .text .text4{
    font-size: 15px;
}
.jobs{
    width: 100%;
}
.jobs i{
    font-size: 20px;
}
.about .text a{
    margin: 20px auto;
}
.services-parent h1{
    font-size: 25px;
}
.services div{
    width: 90%;
}
.services div i{
    font-size: 40px;
}
.services div h2{
    font-size: 25px
}

/* projects */
.projects-parent h1{
    font-size: 30px;
}
.project .text h2{
    font-size: 28px;
}
.project .text p{
    font-size: 20px;
}
}
@media screen and (max-width:400px){
    nav{
        font-size: 1.2em;
    }
    nav ul{
    margin-right: 0;
}
    #logo{
        margin-left: 0;
        font-size: 1.2em;
    }
    #logo img{
        width: 50px;
        height: 50px;
    }
    .header .text .icons a i{
        font-size: 40px;
    }
    .header .img img{
        width: 300px;
        height: 300px;
    }
    .header .text .text1{
        font-size: 20px;
    }
    .header .text .text2{
        font-size: 30px;
    }
    .header .text .text3{
        font-size: 20px;
    }
    .header .text .text4{
        font-size:15;
    }
    .header .img{
    width: 250px;
    height: 250px;
}
.header .img img{
    width: 100%;
    height: 100%;
}
.about .text a{
    padding: 10px 20px;
    margin: 20px auto;
}
/* projects */
.projects-parent h1{
    font-size: 20px;
    margin-bottom: 60px;
}
.project .text h2{
    font-size: 20px;
}
.project .text p{
    font-size: 15px;
    margin: 10px 0;
}
.project{
    justify-content: center;
    margin-bottom: 25%;
}
.project .img{
    width: 90%;
    padding: 10px;
}
.project .text .repo-link{
    margin-left:auto;
}
.project .text a{
    display: block;
    width: fit-content;
    margin: 20px auto;

}
.project .img img{
    width: 80%;
}
.project .text{
    width: 90%;
    margin: 40px 0;
}
}
